* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, 
section h2 {
    font-family: "Bungee", serif;
    font-weight: normal;
}

body, textarea {
    font-family: "Roboto", serif;
}

header nav li {
    display: inline;
    margin-left: 16px; 
    font-size: 18px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
